.titreimage {
  background-image: url(./../../img/pro/Group.svg);
  height: 100%;
  display: flex;
  color: white;
  flex-direction: column;
  background-size: cover;
  background-position: top;
  margin-bottom: 3.5rem;
}

.beforeBrandWave {
  position: absolute;
  top: 530px;
  text-align: center;
  color: #262626;
  right: 0;
  left: 0;
}

.carte {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #2b303a);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}
.desc {
  background-color: #747272;
  color: white;
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 0.8rem;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

.description {
  background-color: #2b303a;
  color: white !important;
  margin-bottom: 50px;
  padding: 6px;
  border-radius: 0.8rem;
  filter: drop-shadow(7px 7px 1px #17191f);
}

.texte {
  font-size: 1.5rem;
}

.row .prestation {
  margin: 20px;
  background-color: #2b303a;
  border-radius: 0.8rem;
  color: white;
  filter: drop-shadow(7px 7px 1px #17191f);
}

.row03 {
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center !important;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.art-degrade {
  background: linear-gradient(to right, #d64933, #000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 3px;
}

.btn {
  color: #fff;
  background-color: #0d6efd;
  box-shadow: 2px 2px 2px 1px black;
  float: right;
  margin-top: 50px;
  margin-right: 70px;
}

/* Prix */
.promo {
  position: absolute;
  top: 15px;
  width: 180px;
  border-left: 0;
  display: flex;
  flex-direction: column;
  margin-left: 42rem;
}

.title {
  background-color: #d64933;
  color: white;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
}

.expire {
  background-color: white;
  color: black;
  text-align: center;
}
