.titreimage{
    background-image: url(./../../img/pro/CurveLine.svg);
    height: 100%;
    display: flex;
    color: white;
    flex-direction: column;
    background-size: cover;
    background-position: top;
    margin-bottom: 3.5rem;
}

.titleBrand{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 300px;
    
}

.titleBrand h1{
            filter: drop-shadow(2px 4px 6px black);

}

.beforeBrandWave{
    position: absolute;
    top: 530px;
    text-decoration: underline;
    text-align: center;
    color: #262626;
    right: 0;
    left: 0;
}

.carte{

    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.25));
    box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
}
.desc{
    background-color: #747272;
    color: white;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 50px;
    
}
.description{
    background-color: #a7a5a5;
    color: white;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
    padding: 30px;
}
.texte{
    font-size: 1.5rem;
}

.row .presta{
    margin: 20px;
}
.row .prestation{
    margin: 20px;
    background-color: white;
}

